body{
	background-color:white;
}

.title{
	font-family:Courier;
	font-size:50px;
	color:black;
	text-align:center;
}

.carrots {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

p{
	font-family:Courier;
	font-size:15px;
	color:black;
}
