h1{
	color:black;
	font-family: 'Lobster', cursive;
	font-size:70px;
	text-align:center;
	text-decoration:underline
}

p{
	font-family:'Montserrat', sans-serif;
	font-size: 25px;
	text-align:center
}

body{
	background-color:#white
}


.blogpost1 {
  background-color:#bc1a1a;
	padding:100px;
}

.blogpost2 {
  background-color:#153466;
	padding:100px;
}

.readon2 {
	background-color:#efe
	padding:5px
}

.blogpost3 {
  background-color:#8fd7e8;
	padding:100px;
}
