.header{
	color:black;
	font-family: 'Lobster', cursive;
	font-size:70px;
	text-align:center;
	text-decoration:underline;
}

.subtitle{
	font-family:'Montserrat', sans-serif;
	font-size: 25px;
	text-align:center;
	color:black
}

body{
	background-color:#white
}

h1{
	font-family:Courier;
	font-size:30px;
	color:white;
	text-decoration:none;
	text-align:center;
}

p{
	font-family:Courier;
	font-size:15px;
	color:white;
	text-align:center;
}

.blogpost1 {
  background-color:#bc1a1a;
	padding:100px;
}

.blogpost2 {
  background-color:#153466;
	padding:100px;
}

.blogpost3 {
  background-color:#8fd7e8;
	padding:100px;
}
